<ion-header>
  <ion-toolbar>
    <ion-title>
      Instruction Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding instruction-content">
  <div class="instruction-container">
    <div class="background-image"></div>
    <!-- Add any content specific to InstructionThreePage here -->
    <h2>Instruction Three</h2>
    <p>Insert your content for Instruction Three here.</p>

    <!-- Add the button here to navigate to another page or any other action -->
    <ion-button expand="full" (click)="goToAnotherPage()">Go to Another Page</ion-button>
  </div>
</ion-content>
