ion-content.home-content {
  --background: transparent;
  background-image: url('../../assets/loginlogo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.welcome-text h1 {
  font-size: 32px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
}


ion-button.next-button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  --ion-color-base: #007bff;
  --ion-color-base-rgb: 0, 123, 255;
  --ion-color-contrast: #ffffff;
  width: 100px;
  height: 40px;; /* Set the height of the button */
  border-radius: 10px; 
  font-size: 18px/* Adjust the value to change the curvature of the button */
}





